body {
  font-family: sans-serif;
  text-align: center;
  background-color: #dae0e2;
}

header {
  font-size: 30px;
  color: aliceblue;
  background-color: grey;
}

main {
  font-size: 30px;
  padding: 16px;
  color: aliceblue;
  background-color: #0abde3;
}

footer {
  font-size: 30px;
  color: aliceblue;
  background-color: #0a3d62;
}
