.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #dae0e2;
}

header {
  color: aliceblue;
  background-color: grey;
  font-size: 35px;
}

main {
  color: aliceblue;
  background-color: #0abde3;
  font-size: 35px;
  padding: 2px;
}

footer {
  color: aliceblue;
  background-color: #0a3d62;
  font-size: 35px;
}
